---
export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<a href="/" class={className}>
  <img
    src="/img/logo.webp"
    sizes="120px"
    alt={`${import.meta.env.PUBLIC_BRAND} logo`}
    width="120"
    height="60"
    loading="eager"
    decoding="async"
  />
</a>
