---
const url = import.meta.env.PUBLIC_REF;
export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${url}`} />
    <link rel="canonical" href={url} />
    <title>Redirecting...</title>
  </head>
  <body></body>
</html>
